__pycache__/
*.pyc
.venv/
venv/

node_modules/
frontend/dist/

output/
!output/.gitkeep
!output/json/.gitkeep
!output/csv/.gitkeep
!output/reports/.gitkeep

frontend/public/data/
!frontend/public/data/.gitkeep

frontend/public/data/*
!frontend/public/data/.gitkeep
!frontend/public/data/*.json